.chat-bg {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(79, 83, 135, 0.2)),
    url("../../img/src-image/chat-bg.jpg");
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: -10;
}

.chat-main {
  margin-top: 24px;
  padding: 0 var(--padding-main-left-right);
}

.chat-main__column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat__column__contents {
  display: flex;
  align-items: center;
}

.chat__column-imgbox {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background-color: brown;
  overflow: hidden;
  position: relative;
  margin-right: 16px;
}

.chat__column-img {
  width: 90px;

  aspect-ratio: auto;
  position: absolute;
  top: 0;
  /* right: 0; */
  left: -17px;
  bottom: 0;
}

.chat-talk {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-talk span:nth-of-type(2) {
  font-size: var(--font-text-normal);
  margin-top: 5px;
}

.chat-extra-icon {
  display: flex;
  flex-direction: column;

  align-items: flex-end;

  font-size: var(--font-guide);
}

.chat-extra-icon .chat-extra__unread {
  border-radius: 50%;
  background-color: black;
  text-align: center;
  padding: 3px 6px 5px 5px;
  margin-top: 8px;
}
