.setting-screen {
  padding: 0 var(--padding-main-left-right);
}

.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid var(--color-border);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;

  justify-content: space-between;
}

.settings__setting i {
  margin-right: 30px;
  width: 2%;
  font-size: 22px;
}

.settings__setting-column-right {
  opacity: 0.5;
}
